<html lang="en">

<head>
	<meta charSet="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<meta name="theme-color" content="#000000"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	    crossOrigin="anonymous"></link>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json"></link>
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"></link>
	<link src="/assets/css/body.css"></link>
	<link src="/assets/css/header.css"></link>
	<link src="/assets/css/footer.css"></link>
	<link src="/assets/css/manager.css"></link>
	<link src="/assets/css/@media.css"></link>

	
	<title>ProManager</title>
</head>

<body>
	{{{body}}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	    crossOrigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	    crossOrigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<script src="/assets/script/UserLog.js"></script>
	<script src="/assets/script/Manager.js"></script>
</body>

</html>