/* Manager */
.btn-manager{
	margin: 5px;
	padding: 10px;
	color: white;
	background-color: purple;
}
.btn-manager:hover{
	color: purple;
	background-color: white;
}

#user-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}