<div className="fixed-top fixed-top-custom"></div>
<header className="fixed-top">
    <div className="container">
        <div className="row">
            <a href="/" className="logo col-lg-4 col-md-6 col-sm-6 col-logo">
                <div className="proManager">
                    <div className="fa fa-home fa-5x"></div>
                    <br></br>
                    <strong>ProManager</strong>
                </div>
            </a>
            <div className="nav-buttons col-lg-8 col-md-6 col-sm-6 col-buttons">
                <h1>
                    <button data-toggle="modal" data-target="#sign-in" className="btn btn-outline-primary">
                        <strong>Sign In</strong>
                    </button>
                    <button data-toggle="modal" data-target="#sign-up" className="btn btn-outline-primary">
                        <strong>Sign Up</strong>
                    </button>
                </h1>
            </div>
        </div>
    </div>
</header>
<div className="modal fade" id="sign-in" tabIndex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div className="modal-dialog" role="document">
        <div className="modal-content">
            <div className="modal-header">
                <h5 className="modal-title" id="exampleModalLabel">Sign In</h5>
            </div>
            <div className="modal-body">
                Email:
                <br></br>
                <input id="sign-in-email" className="col-sm-12" type="email"></input>
                <br></br>
                Password:
                <br></br>
                <input id="sign-in-password" className="col-sm-12" type="password"></input>
            </div>
            <div className="modal-footer">
                <button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit-sign-in" className="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div className="modal fade" id="sign-up" tabIndex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div className="modal-dialog" role="document">
        <div className="modal-content">
            <div className="modal-header">
                <h5 className="modal-title" id="exampleModalLabel">Sign Up</h5>
            </div>
            <div className="modal-body">
                Name:
                <br></br>
                <input id="sign-up-name" className="col-sm-12" type="text"></input>
                <br></br>
                Email:
                <br></br>
                <input id="sign-up-email" className="col-sm-12" type="email"></input>
                <br></br>
                Password:
                <br></br>
                <input id="sign-up-password" className="col-sm-12" type="password"></input>
                <br></br>
                <br></br>
                <div className="col-sm-12">
                    <input type="radio" className="form-check-input" name="sign-up-radio" id="optionsRadios1" value="rent"></input>
                    Rent a property.
                </div>
                <div className="col-sm-12">
                    <input type="radio" className="form-check-input" name="sign-up-radio" id="optionsRadios2" value="manage"></input>
                    Manage a property.
                </div>
            </div>
            <div className="modal-footer">
                <button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit-sign-up" className="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div className="margin-top"></div>
<div className="find-a-home"></div>
<a href="/findproperty" className="btn btn-large-success">Find a new home.</a>


{{!-- {{>articles/index-block}} --}}
