<div class="fixed-top fixed-top-custom"></div>
<header class="fixed-top">
    <div class="container">
        <div class="row">
            <a href="/" class="logo col-lg-4 col-md-6 col-sm-6 col-logo">
                <div class="proManager">
                    <div class="fa fa-home fa-5x"></div>
                    <br>
                    <strong>ProManager</strong>
                </div>
            </a>
            <div class="nav-buttons col-lg-8 col-md-6 col-sm-6 col-buttons">
                <h1>
                    <button data-toggle="modal" data-target="#sign-in" class="btn btn-outline-primary">
                        <strong>Sign In</strong>
                    </button>
                    <button data-toggle="modal" data-target="#sign-up" class="btn btn-outline-primary">
                        <strong>Sign Up</strong>
                    </button>
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
            </div>
            <div class="modal-body">
                Email:
                <br>
                <input id="sign-in-email" class="col-sm-12" type="email">
                <br>
                Password:
                <br>
                <input id="sign-in-password" class="col-sm-12" type="password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit-sign-in" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
            </div>
            <div class="modal-body">
                First name:
                <br>
                <input id="sign-up-firstname" class="col-sm-12" type="text">
                <br>
                Last name:
                <br>
                <input id="sign-up-lastname" class="col-sm-12" type="text">
                <br>
                Email:
                <br>
                <input id="sign-up-email" class="col-sm-12" type="email">
                <br>
                Password:
                <br>
                <input id="sign-up-password" class="col-sm-12" type="password">
                <br>
                Phone:
                <br>
                <input id="sign-up-phone" class="col-sm-12" type="text">
                <br>
                <div class="col-sm-12">
                    <input type="radio" class="form-check-input" name="sign-up-radio" id="optionsRadios1" value="renter">
                    Rent a property.
                </div>
                <div class="col-sm-12">
                    <input type="radio" class="form-check-input" name="sign-up-radio" id="optionsRadios2" value="manager">
                    Manage a property.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit-sign-up" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="margin-top"></div>
<div class="find-a-home"></div>
<a href="/findproperty" class="btn btn-large-success">Find a new home.</a>


{{!-- {{>articles/index-block}} --}}
