<div class="fixed-top fixed-top-custom"></div>
<header class="fixed-top">
	<div class="container">
		<div class="row">
			<a href="/" class="logo col-lg-4 col-md-6 col-sm-6 col-logo">
				<div class="proManager">
					<div class="fa fa-home fa-5x"></div>
					<br>
					<strong>ProManager</strong>
				</div>
			</a>
			<div class="nav-buttons col-lg-8 col-md-6 col-sm-6 col-buttons">
				<a href="" data-toggle="modal" data-target="#add-userpic-modal"><img id="user-pic" src="assets/images/temp.png" alt="MyImage"></a>
				<span>
					<strong><em> Hello <span id="userName"></span></em> </strong>
				</span>
				<a id="logoff" href="/">
					<strong><em>| Log Off</em></strong>
				</a>
			</div>
		</div>
	</div>
</header>

<div class="margin-top"></div>

<div class="container">
	<div class="row justify-content-sm-center">
		<a href="" class="btn-manager btn-add-property btn btn-outline-primary col-md-3 col-sm-4 col" data-toggle="modal" data-target="#add-property-modal">
			<strong>Add a Property</strong>
		</a>
	</div>
</div>

<div class="modal fade" id="add-property-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add a New Property</h5>
			</div>
			<div class="modal-body">
				Property Name:
				<br>
				<input id="add-property-name" class="col-sm-12" type="text">
				<br>
				Address:
				<br>
				<input id="add-property-address" class="col-sm-12" type="text">
				<br>
				City:
				<br>
				<input id="add-property-city" class="col-sm-12" type="text">
				<br>
				State:
				<br>
				<input id="add-property-state" class="col-sm-12" type="text">
				<br>
				ZipCode:
				<br>
				<input id="add-property-zipcode" class="col-sm-12" type="text">
				<br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="submit-add-property" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="property-container">
	<div class="container">
		<div class="">
			<ol>
				{{#each property}} {{> properties/property-block}} {{/each}}
			</ol>
		</div>
	</div>
</div>

<div class="find-a-home"></div>
<a href="/findproperty" class="btn btn-large-success">Find a new home.</a>