<div class="fixed-top fixed-top-custom"></div>
<header class="fixed-top">
    <div class="container">
        <div class="row">
            <a href="/" class="logo col-lg-4 col-md-6 col-sm-6 col-logo">
                <div class="proManager">
                    <div class="fa fa-home fa-5x"></div>
                    <br>
                    <strong>ProManager</strong>
                </div>
            </a>
            <div class="nav-buttons col-lg-8 col-md-6 col-sm-6 col-buttons">
                <img id="user-pic" src="assets/images/apt1.jpg" alt="MyImage"></img>
                <span>
                    <strong> Hello Tarciso |</strong>
                </span>
                <a href="/">
                    <strong> Log Off</strong>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="margin-top"></div>

<div class="find-a-home"></div>
<a href="/findproperty" class="btn btn-large-success">Find a new home.</a>

{{!-- {{> articles/scrape-block}} --}}