<li class="breadcrumb container">
		<div class="col-lg-7 text-center">
		{{name}}
		</div>
		<button class="change-devoured btn btn-primary col-lg-5" data-id="{{id}}"> Manage this property</button>
</li>
