body{
	background: fixed no-repeat url("./apt1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.card-photo{
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.card-photo img{
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.card{
    margin: 0 0 10px 0;
}

.fixed-top-custom{
	width: 100%;
	height: 70px;
	opacity: 0.9;
	background-color: #ebebeb;
}
.nav-buttons{
	text-align: right;
}
h1{
	color: #007bff;
}
.proManager{
	text-align: center;
	width: 110px;
	height: 120px;
	background-color: #3dce5c;
	border-radius: 0 0 10% 10%;
	color: white;
	text-decoration-line: none;
}
.logo:hover{
	text-decoration-line: none;
}
.proManager:hover{
	color: #3dce5c;
	background-color: #ebebeb;
	text-decoration-line: none;
	border: 1px solid #3dce5c;
}

#logoff{
	color: black;
}

#logoff:hover{
	text-decoration-line: none;
}

.btn-success{
	background-color: #3dce5c;
	border: 1px solid #3dce5c;	
}

.btn-success:hover{
	color: #3dce5c;	
	border: 1px solid #3dce5c;	
	background-color: white;	
}

.panelBox {
    height: 200px;
    width: inherit;
    background-color: black; 
	opacity: .5;
    position: absolute;
}
.searchBox{
	opacity: .9;
	padding: 20px 10px;
	position: relative;                  
}
/* <h2 className="text-center" style={{color: "orange"}}>Need Help?</h2>
                            <h5 style={{color: "orange"}}>Search For Acredited Professional</h5>
                            <Input
                            />

                            <div style={{marginTop: "20px"}}>
                            <Button color="warning" onClick= { this.searchPro } style={{float: "right"}}>
                                Search
                            </Button> 
                            </div>
                        </div> */
/* style={{height: "150px", width: "330px", backgroundColor: "black", opacity: ".5", position: "fixed"}} */