body{
	background: fixed no-repeat url("./apt1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h4{
	line-height: 40px;
}

.card-photo{
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.card-photo img{
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.card{
    margin: 0 0 10px 0;
}

.fixed-top-custom{
	width: 100%;
	height: 70px;
	opacity: 0.9;
	background-color: #ebebeb;
}
.nav-buttons{
	text-align: right;
	float: right;
}
h1{
	color: #007bff;
}
.proManager{
	text-align: center;
	width: 110px;
	height: 120px;
	background-color: #3dce5c;
	border-radius: 0 0 10% 10%;
	color: white;
	text-decoration-line: none;
}
.logo:hover{
	text-decoration-line: none;
}
.proManager:hover{
	color: #3dce5c;
	background-color: #ebebeb;
	text-decoration-line: none;
	border: 1px solid #3dce5c;
}

.btn-success{
	background-color: #3dce5c;
	border: 1px solid #3dce5c;	
}

.btn-success:hover{
	color: #3dce5c;	
	border: 1px solid #3dce5c;	
	background-color: white;	
}

.panelBox {
    height: 200px;
    width: inherit;
    background-color: black; 
	opacity: .8;
	position: absolute;
	border-radius: 3%;
}
.searchBox{
	color: orange;
	opacity: .9;
	padding: 20px 10px;
	position: absolute;                  
}
.btn-outline-secondary{
	border: none;
}
.btn-outline-secondary:hover{
	background-color: transparent !important;
}
span.icon img{
	heigth: 20px;
	width: 20px;
}

@media (min-width: 1200px){
	.container{
		min-width: 90%;
	}
	.panelBox {
		width: 341px;
	}
	}
	@media (max-width: 1200px){
	.container{
		min-width: 90%;
	}
	.panelBox {
		height: 220px;
		width: 337px;
	}
	}
	@media (max-width: 1124px){
	.panelBox {
		width: 322px;
	}
	}
	@media (max-width: 1090px){
	.panelBox {
		width: 312px;
	}
	}
	@media (max-width: 993px){
	.panelBox {
		width: 305px;
	}
	}
	@media (max-width: 990px){
	.panelBox {
		width: 277px;
	}
	}
	@media (max-width: 980px){
	.panelBox {
		width: 278px;
	}
	}
	@media (max-width: 934px){
	.panelBox {
		width: 260px;
	}
	}
	@media (max-width: 920px){
	.panelBox {
		width: 261px;
	}
	}
	@media (max-width: 887px){
	.panelBox {
		width: 246px;
	}
	}
	@media (max-width: 878px){
	.panelBox {
		width: 243px;
	}
	}
	@media (max-width: 870px){
	.panelBox {
		width: 241px;
	}
	}
	@media (max-width: 862px){
	.panelBox {
		width: 239px;
	}
	}
	@media (max-width: 850px){
	.panelBox {
		width: 240px;
	}
	}
	@media (max-width: 800px){
	.panelBox {
		width: 225px;
	}
	}
	@media (min-width: 769px){
	.visibleSettings{
		visibility: hidden !important;
	}
	.visible{
		visibility: hidden !important;
	}
	.fixed-bottom{
		visibility: hidden; 
	}
	}
	@media (max-width: 768px){
	div.fa.fa-home.fa-5x{
		font-size: 3em;
	}
	div.proManager{
		width: 100px;
		height: 80px;
	}
	.visibleSettings{
		position: fixed;
		right: 0;
		visibility: visible;
		top: 80%;
	}
	.visible{
		visibility: visible;
	}
	.panelSearch{
		display: none;
	}
	.needHelp{
		color: orange;
		position: relative;
	}
	.panelBox{
		left: 0;
		botton: 0;
		width: 100%;
		height: 110px;
	}
	.fixed-bottom{
		height: 80px;
		display: inline-block;
		padding-bottom: 0;
	}
	button.searchBtn.btn.btn-warning{
		margin-top: 0;
		margin-botton: 10px;
	}
	input.form-control{
		height: 35px;
	}
	div.input-group-addon{
		height: 35px;
		padding: 0px;
		margin: 0;
	}
	.hideMeAt768{
		display: none;
	}
	span.icon img{
		heigth: 30px;
		width: 30px;
		font-size: 20px;
	}
	button.btn.btn-outline-secondary{
		margin: auto !important;
	}
	button.dropdown-toggle.btn.btn-outline-secondary{
		margin: auto !important;
	}
	div.col.col-sm-4{
		margin: auto !important;
	}
	}

	@media (max-width: 576px){
	div.fa.fa-home.fa-5x{
		font-size: 3em;
	}
	div.proManager{
		width: 100px;
		height: 80px;
	}
	.card-photo{
		width: 100%;
		height: 200px;
	}
	div.card-body{
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	hr{
		margin: 0;
	}
	button.btn.btn.success{
		margin: 0 0 0 0 !important;
	}
	}